---
import IconChevronLeft from "@/assets/icons/IconChevronLeft.svg";
import { SITE } from "@/config";
---

{
  SITE.showBackButton && (
    <div class="mx-auto flex w-full max-w-6xl items-center justify-start px-4 sm:px-6 lg:px-8">
      <a id="back-button" href="/" class="btn mt-8 mb-2 px-0 btn-ghost">
        <IconChevronLeft class="inline-block size-6 rtl:rotate-180" />
        <span>Go back</span>
      </a>
    </div>
  )
}

<script>
  /* Update Search Praam */
  function updateGoBackUrl() {
    const backButton: HTMLAnchorElement | null =
      document.querySelector("#back-button");

    const backUrl = sessionStorage.getItem("backUrl");

    if (backUrl && backButton) {
      backButton.href = backUrl;
    }
  }

  document.addEventListener("astro:page-load", updateGoBackUrl);
  updateGoBackUrl();
</script>
