---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={[
    "mx-auto my-16 w-full max-w-6xl px-4 sm:px-6 lg:px-8",
    { "mt-auto": !noMarginTop },
    className,
  ]}
  {...attrs}
>
  <div class="border-t border-base-300 pt-8 text-sm text-base-content/60">
    <div class="flex flex-col items-center justify-between gap-4 sm:flex-row">
      <Socials />
      <div class="flex flex-col items-center whitespace-nowrap sm:flex-row">
        <span>Copyright &#169; {currentYear}</span>
        <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
        <span>All rights reserved.</span>
      </div>
    </div>
  </div>
</footer>
